@import "tailwindcss";

pre {
  white-space: pre-wrap;
  text-align: left;
  word-break: break-word;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 62rem) {
  pre {
    width: 60%;
  }
}

button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: white;
}
